body{
	background: #ececec;
	margin: 0;
	font-family: 'Bitter', serif;
}

header{
	background:#153b44;
	height: 80px;
}

.logotipo{
	display: inline-block;
	margin-left: 10px;
	margin-top: 7px;
	margin-bottom: 0;

}

.menu{
	position: absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
}

.menu li{
	display: inline-block;
	margin-left: 25px;
}

.menu li a{
	color: white;
	font-size: 20px;
	margin: 5px;
	padding: 12px;
	text-decoration: none;
	border-right: 1px solid white;
	transition-duration: .3s;

}

.menu li a:hover{
	color: #ff7250;
	font-size: 28px;
}

.ultimo{
	border-right: none;
}

.boton{
	width: 158px;
	height: 45px;
	margin-left: 10px;
	border-radius: 9px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.boton:active{
	background: #fe344e;
}

.busqueda{
	width: 250px;
	height: 30px;
	margin-top: 5px;
	position: absolute;
	right: 69px;
	border-radius: 7px;
}

.contenedor{
	background-image: url("../images/background.jpg");
	margin: 70px;
	padding: 250px;
	}

.mensaje{
	border: 1px solid #7a9eb1;
	background: #7a9eb1;
	opacity: .7;
	position: absolute;
	top: 500px;
	left: 100px;
	width: 350px;
	padding-left: 12px;
	padding-right: 12px;
}

.mensaje p{
	color: black;
	font-size: 21px;
	opacity: 1;
}

hr{
	opacity: .9;
	margin-top: 15px;
}

.articulos article, .articulos article img{
	display: inline-block;
	margin-top: 30px;
}

.articulos article img{
	transition-duration: .3s;
}

.articulos article img:hover{
	transform: scale(1.1);
}

.articulos h1{
	font-size: 35px;
}

.articulos{
	width: 1125px;
	margin: auto;
}

.lado_izquierdo{
	margin-right: 150px;
}

.lado_derecho{
	margin-left: 180px;
}

.center{
	margin: 0;
}

.articulos article a{
	text-decoration: none;
	font-size: 23px;
	position: absolute;
	color: gray;
	transition: .8s;
}

.articulos article a:hover{
	color: black;
}

footer{
	margin-top: 80px;
	color: grey;
	font-weight: bold;
}

.container{
	margin-left: 400px;
}

footer .container div{
	display: inline-block;
	margin-left: 20px;
}

.footer_section input{
	margin-left: 8px;
	height: 35px;
	background: lightgrey;
	border: 0;
	color: grey;
	font-weight: bold;
	cursor: pointer;

}